USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 2020/1/23 15:09:02 ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'D:\C#\灵犀影院数据库\Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'D:\C#\灵犀影院数据库\Cinema_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 2020/1/23 15:09:03 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 2020/1/23 15:09:03 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
/****** Object:  Table [dbo].[ChipInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChipInfo](
	[ChipInfoID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[OfficeID] [int] NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[StopTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ChipInfo] PRIMARY KEY CLUSTERED 
(
	[ChipInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaInfo](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](50) NOT NULL,
	[CinemaAddress] [nvarchar](50) NOT NULL,
	[CinemaArea] [nvarchar](50) NULL,
	[CinemaImg] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentInfo](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[UsersID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserFace] [nvarchar](50) NULL,
	[CommentInfo] [nvarchar](max) NOT NULL,
	[CommentTime] [date] NOT NULL,
 CONSTRAINT [PK_CommentInfo] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieInfo](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[MovieCover] [nvarchar](50) NOT NULL,
	[MovieBrief] [nvarchar](max) NOT NULL,
	[MovieMoney] [decimal](18, 2) NOT NULL,
	[MovieReleaseDate] [date] NOT NULL,
	[MovieDuration] [int] NOT NULL,
	[MovieDirect] [nvarchar](50) NOT NULL,
	[MovieType] [nvarchar](50) NULL,
	[MovieArea] [nvarchar](50) NULL,
	[MovieYears] [int] NULL,
	[MovieScore] [decimal](18, 1) NULL,
	[MoviePeople] [nvarchar](50) NULL,
 CONSTRAINT [PK__MovieInf__4BD2943AA6AD36E5] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicInfo](
	[MusicID] [int] IDENTITY(1,1) NOT NULL,
	[MusicNmae] [nvarchar](20) NOT NULL,
	[MusicLenth] [nvarchar](20) NOT NULL,
	[MusicSinger] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsInfo](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[NewsPoster] [nvarchar](50) NOT NULL,
	[NewsSynopsis] [nvarchar](50) NOT NULL,
	[NewsContent] [nvarchar](500) NOT NULL,
	[NewsSource] [nvarchar](50) NOT NULL,
	[IssueTime] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeInfo](
	[OfficeID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeName] [nvarchar](50) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[NullColOne] [int] NULL,
	[NullColTwo] [int] NULL,
	[OfficeCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[OrderDetailsPrice] [decimal](18, 2) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[StopTime] [datetime] NOT NULL,
	[PrimaryKey] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[PrimaryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[OrderID] [int] IDENTITY(10000,1) NOT NULL,
	[OrderSumMoney] [decimal](18, 2) NOT NULL,
	[UsersID] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[CinemaAddress] [nvarchar](50) NOT NULL,
	[OfficeID] [int] NOT NULL,
	[ChipInfoID] [int] NOT NULL,
	[IsPay] [int] NOT NULL,
	[PayTime] [int] NULL,
 CONSTRAINT [PK__OrderInf__C3905BAF9A9C3BD4] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersGoodsInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersGoodsInfo](
	[CinemaID] [int] NOT NULL,
	[OfficeID] [int] NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[StopTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatInfo](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeID] [int] NOT NULL,
	[IsSeat] [int] NOT NULL,
	[ChipInfoID] [int] NOT NULL,
 CONSTRAINT [PK__SeatInfo__311713D3FB382117] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrlCountInnfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrlCountInnfo](
	[Msg] [int] NOT NULL,
 CONSTRAINT [PK_UrlCountInnfo] PRIMARY KEY CLUSTERED 
(
	[Msg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInfo](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[UserAccount] [nvarchar](50) NOT NULL,
	[UsersPwd] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserSex] [nvarchar](50) NULL,
	[UserPhone] [nvarchar](50) NULL,
	[UserIDCard] [nvarchar](50) NULL,
	[UserAddress] [nvarchar](50) NULL,
	[UserLevelNum] [int] NULL,
	[UserMvp] [int] NULL,
	[UserFace] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK__UsersInf__A349B042C126172C] PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChipInfo] ON 

INSERT [dbo].[ChipInfo] ([ChipInfoID], [CinemaID], [OfficeID], [MovieName], [StartTime], [StopTime]) VALUES (1, 1, 1, N'冰雪奇缘2', CAST(N'2019-12-29T12:10:00.000' AS DateTime), CAST(N'2019-12-29T13:54:00.000' AS DateTime))
INSERT [dbo].[ChipInfo] ([ChipInfoID], [CinemaID], [OfficeID], [MovieName], [StartTime], [StopTime]) VALUES (2, 1, 2, N'冰雪奇缘2', CAST(N'2019-12-29T12:10:00.000' AS DateTime), CAST(N'2019-12-29T13:54:00.000' AS DateTime))
INSERT [dbo].[ChipInfo] ([ChipInfoID], [CinemaID], [OfficeID], [MovieName], [StartTime], [StopTime]) VALUES (3, 1, 3, N'勇敢者游戏2：再战巅峰', CAST(N'2019-12-29T12:33:00.000' AS DateTime), CAST(N'2019-12-29T14:36:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChipInfo] OFF
SET IDENTITY_INSERT [dbo].[CinemaInfo] ON 

INSERT [dbo].[CinemaInfo] ([CinemaID], [CinemaName], [CinemaAddress], [CinemaArea], [CinemaImg]) VALUES (1, N'万达影院（开福万达广场店）', N'开福区湘江中路589号万达广场5层', N'开福区', N'开福万达广场店.jpg')
INSERT [dbo].[CinemaInfo] ([CinemaID], [CinemaName], [CinemaAddress], [CinemaArea], [CinemaImg]) VALUES (2, N'万达影院（婚庆园店）', N'浏阳河大道二段305号', N'雨花区', N'婚庆园店.jpg')
INSERT [dbo].[CinemaInfo] ([CinemaID], [CinemaName], [CinemaAddress], [CinemaArea], [CinemaImg]) VALUES (3, N'万达影院（长沙中茂城店）', N'泉塘街道向阳路红星中茂城商业广场4栋5楼5904', N'长沙县', N'长沙中茂城店.jpg')
SET IDENTITY_INSERT [dbo].[CinemaInfo] OFF
SET IDENTITY_INSERT [dbo].[CommentInfo] ON 

INSERT [dbo].[CommentInfo] ([CommentID], [MovieID], [UsersID], [UserName], [UserFace], [CommentInfo], [CommentTime]) VALUES (1, 1, 2, N'东方曜', N'人像2.jpg', N'有史以来看过的最。。。。无语的一部电影。暴力美学？好嘛 故事的架构和人？？？ 没懂。。。就觉得一个盗窃摩托车的错杀了警察然后让自己老婆举报得三十万。然后女主这个陪泳女 就莫名其妙和男主睡了还莫名其妙 被一个路人甲**了然后一切都。。。。嗯 看的头疼 看完之后人生第一次看完出来电影院不想说话，什么鬼？！！虽然是为了胡歌来的，好吧，真的不懂', CAST(N'2019-12-11' AS Date))
INSERT [dbo].[CommentInfo] ([CommentID], [MovieID], [UsersID], [UserName], [UserFace], [CommentInfo], [CommentTime]) VALUES (2, 1, 18, N'白居易', N'人像7.jpg', N'特别好看，一张电影票睡了两觉，特别经济实惠，以前一直没体验过在影院睡觉什么感觉，这次体验了感觉特别超值，失眠者赶紧包场吧，保证让你精神百倍地走出影院，话说回来，那个华裔女人好丑，感觉和凤姐应该有亲属关系，估计外国人的眼里这就是美女吧', CAST(N'2019-12-11' AS Date))
INSERT [dbo].[CommentInfo] ([CommentID], [MovieID], [UsersID], [UserName], [UserFace], [CommentInfo], [CommentTime]) VALUES (4, 1, 3, N'杜甫', NULL, N'感觉会是一部很棒的电影啊，从公布的演员名单来看就不会差，剧情也挺有意思的“一道白光把人抓走“啊哈哈哈，被抓走的到底是什么人！', CAST(N'2019-12-11' AS Date))
SET IDENTITY_INSERT [dbo].[CommentInfo] OFF
SET IDENTITY_INSERT [dbo].[MovieInfo] ON 

SET IDENTITY_INSERT [dbo].[MovieInfo] OFF
SET IDENTITY_INSERT [dbo].[MusicInfo] ON 

INSERT [dbo].[MusicInfo] ([MusicID], [MusicNmae], [MusicLenth], [MusicSinger]) VALUES (1, N'嚣张', N'4:45', N'en')
SET IDENTITY_INSERT [dbo].[MusicInfo] OFF
SET IDENTITY_INSERT [dbo].[NewsInfo] ON 

INSERT [dbo].[NewsInfo] ([NewsID], [NewsPoster], [NewsSynopsis], [NewsContent], [NewsSource], [IssueTime]) VALUES (2, N'35岁歌手吾恩确诊癌症，疑似因病剃光头发？头戴帽子入院治疗.jpg', N'35岁歌手吾恩确诊癌症，疑似因病剃光头发？头戴帽子入院治疗', N'2019年12月6日，网络歌手吾恩在某个社交平台上面宣布了自己身患癌症的事情。据吾恩表示，他所患的癌症为印戒细胞癌，并且已经是晚期了。幸运的是，癌细胞没有发生转移，所以还可以进...', N'灵犀影院', N'2019-12-8')
INSERT [dbo].[NewsInfo] ([NewsID], [NewsPoster], [NewsSynopsis], [NewsContent], [NewsSource], [IssueTime]) VALUES (5, N'和姜亦珊一样自杀去世的14位明星，都是英年早逝，最年轻的25岁.jpg', N'和姜亦珊一样自杀去世的14位明星，都是英年早逝，最年轻的25岁', N'2019年12月5日，著名的京剧大师姜亦珊离世。有知情人士透露，
姜亦珊在2019年12月5日上午的时候，在家中自缢身亡，但是姜亦珊
的具体死因还正在调查中。娱乐圈里面有很多的明星...', N'灵犀影院', N'2019-12-5')
INSERT [dbo].[NewsInfo] ([NewsID], [NewsPoster], [NewsSynopsis], [NewsContent], [NewsSource], [IssueTime]) VALUES (6, N'李小璐发动态秒删除，奈何网友靠图扒坐标：又和王昊在一起？.jpg', N'李小璐发动态秒删除，奈何网友靠图扒坐标：又和王昊在一起？', N'近日女星李小璐在个人社交平台上发布了一条在国外旅游的动
态消息，但这条动态发出不久李小璐就删掉，不久后又重新编辑后再次
发送。据悉李小璐第一次发布的消息中晒出的是三张照片，其中一张...', N'灵犀影院', N'2019-12-3')
SET IDENTITY_INSERT [dbo].[NewsInfo] OFF
SET IDENTITY_INSERT [dbo].[OfficeInfo] ON 

INSERT [dbo].[OfficeInfo] ([OfficeID], [OfficeName], [CinemaID], [NullColOne], [NullColTwo], [OfficeCount]) VALUES (1, N'杜比巨幕厅', 1, 5, 13, 160)
INSERT [dbo].[OfficeInfo] ([OfficeID], [OfficeName], [CinemaID], [NullColOne], [NullColTwo], [OfficeCount]) VALUES (2, N'中国巨幕厅', 1, 7, 13, 80)
INSERT [dbo].[OfficeInfo] ([OfficeID], [OfficeName], [CinemaID], [NullColOne], [NullColTwo], [OfficeCount]) VALUES (3, N'激光2D厅', 1, 6, 12, 90)
SET IDENTITY_INSERT [dbo].[OfficeInfo] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderID], [SeatID], [OrderDetailsPrice], [StartTime], [StopTime], [PrimaryKey]) VALUES (10000, 156, CAST(100.00 AS Decimal(18, 2)), CAST(N'2019-12-29T12:10:00.000' AS DateTime), CAST(N'2019-12-29T13:54:00.000' AS DateTime), 1)
INSERT [dbo].[OrderDetails] ([OrderID], [SeatID], [OrderDetailsPrice], [StartTime], [StopTime], [PrimaryKey]) VALUES (10000, 155, CAST(100.00 AS Decimal(18, 2)), CAST(N'2019-12-29T12:10:00.000' AS DateTime), CAST(N'2019-12-29T13:54:00.000' AS DateTime), 2)
INSERT [dbo].[OrderDetails] ([OrderID], [SeatID], [OrderDetailsPrice], [StartTime], [StopTime], [PrimaryKey]) VALUES (10000, 153, CAST(100.00 AS Decimal(18, 2)), CAST(N'2019-12-29T12:10:00.000' AS DateTime), CAST(N'2019-12-29T13:54:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[OrderInfo] ON 

INSERT [dbo].[OrderInfo] ([OrderID], [OrderSumMoney], [UsersID], [OrderTime], [MovieName], [CinemaAddress], [OfficeID], [ChipInfoID], [IsPay], [PayTime]) VALUES (10000, CAST(400.00 AS Decimal(18, 2)), 2, CAST(N'2019-12-29T10:12:00.117' AS DateTime), N'冰雪奇缘2', N'开福区湘江中路589号万达广场5层', 1, 1, 1, 880)
INSERT [dbo].[OrderInfo] ([OrderID], [OrderSumMoney], [UsersID], [OrderTime], [MovieName], [CinemaAddress], [OfficeID], [ChipInfoID], [IsPay], [PayTime]) VALUES (10001, CAST(230.40 AS Decimal(18, 2)), 2, CAST(N'2019-12-29T10:16:10.480' AS DateTime), N'我和我的祖国', N'浏阳河大道二段305号', 7, 7, 1, 790)
INSERT [dbo].[OrderInfo] ([OrderID], [OrderSumMoney], [UsersID], [OrderTime], [MovieName], [CinemaAddress], [OfficeID], [ChipInfoID], [IsPay], [PayTime]) VALUES (10002, CAST(300.00 AS Decimal(18, 2)), 2, CAST(N'2019-12-29T10:16:31.313' AS DateTime), N'冰雪奇缘2', N'开福区湘江中路589号万达广场5层', 1, 1, 1, 820)
SET IDENTITY_INSERT [dbo].[OrderInfo] OFF
SET IDENTITY_INSERT [dbo].[SeatInfo] ON 

INSERT [dbo].[SeatInfo] ([SeatID], [OfficeID], [IsSeat], [ChipInfoID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[SeatInfo] ([SeatID], [OfficeID], [IsSeat], [ChipInfoID]) VALUES (2, 1, 1, 1)
INSERT [dbo].[SeatInfo] ([SeatID], [OfficeID], [IsSeat], [ChipInfoID]) VALUES (3, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[SeatInfo] OFF
INSERT [dbo].[UrlCountInnfo] ([Msg]) VALUES (34)
SET IDENTITY_INSERT [dbo].[UsersInfo] ON 

INSERT [dbo].[UsersInfo] ([UsersID], [UserAccount], [UsersPwd], [UserName], [UserSex], [UserPhone], [UserIDCard], [UserAddress], [UserLevelNum], [UserMvp], [UserFace], [UserEmail]) VALUES (2, N'Admin', N'Admin', N'东方曜', N'男', N'17685964235', N'430624200010109338', N'湖南', 2, 1, N'人像2.jpg', NULL)
INSERT [dbo].[UsersInfo] ([UsersID], [UserAccount], [UsersPwd], [UserName], [UserSex], [UserPhone], [UserIDCard], [UserAddress], [UserLevelNum], [UserMvp], [UserFace], [UserEmail]) VALUES (3, N'Test', N'Test', N'杜甫', N'男', N'17685964235', N'430624200010109338', N'湖北', 0, 0, NULL, NULL)
INSERT [dbo].[UsersInfo] ([UsersID], [UserAccount], [UsersPwd], [UserName], [UserSex], [UserPhone], [UserIDCard], [UserAddress], [UserLevelNum], [UserMvp], [UserFace], [UserEmail]) VALUES (4, N'test2', N'123', N'白居易', N'男', N'17685964235', N'430624200010109338', N'湖北', 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UsersInfo] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CinemaIn__CE8D25231E4BA274]    Script Date: 2020/1/23 15:09:03 ******/
ALTER TABLE [dbo].[CinemaInfo] ADD UNIQUE NONCLUSTERED 
(
	[CinemaAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MovieInf__F5C0AEA5692B90E1]    Script Date: 2020/1/23 15:09:03 ******/
ALTER TABLE [dbo].[MovieInfo] ADD  CONSTRAINT [UQ__MovieInf__F5C0AEA5692B90E1] UNIQUE NONCLUSTERED 
(
	[MovieName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsersInfo]    Script Date: 2020/1/23 15:09:03 ******/
ALTER TABLE [dbo].[UsersInfo] ADD  CONSTRAINT [IX_UsersInfo] UNIQUE NONCLUSTERED 
(
	[UserAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsersInfo] ADD  CONSTRAINT [DF_UsersInfo_UserLevelNum]  DEFAULT ((0)) FOR [UserLevelNum]
GO
ALTER TABLE [dbo].[UsersInfo] ADD  CONSTRAINT [DF__UsersInfo__UserM__6B24EA82]  DEFAULT ((0)) FOR [UserMvp]
GO
ALTER TABLE [dbo].[ChipInfo]  WITH CHECK ADD  CONSTRAINT [FK__Chip__CinemaID__3B40CD36] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[CinemaInfo] ([CinemaID])
GO
ALTER TABLE [dbo].[ChipInfo] CHECK CONSTRAINT [FK__Chip__CinemaID__3B40CD36]
GO
ALTER TABLE [dbo].[ChipInfo]  WITH CHECK ADD  CONSTRAINT [FK__Chip__OfficeID__3C34F16F] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OfficeInfo] ([OfficeID])
GO
ALTER TABLE [dbo].[ChipInfo] CHECK CONSTRAINT [FK__Chip__OfficeID__3C34F16F]
GO
ALTER TABLE [dbo].[CommentInfo]  WITH CHECK ADD  CONSTRAINT [FK_Comment_UsersInfo] FOREIGN KEY([UsersID])
REFERENCES [dbo].[UsersInfo] ([UsersID])
GO
ALTER TABLE [dbo].[CommentInfo] CHECK CONSTRAINT [FK_Comment_UsersInfo]
GO
ALTER TABLE [dbo].[CommentInfo]  WITH CHECK ADD  CONSTRAINT [FK_CommentInfo_MovieInfo] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MovieInfo] ([MovieID])
GO
ALTER TABLE [dbo].[CommentInfo] CHECK CONSTRAINT [FK_CommentInfo_MovieInfo]
GO
ALTER TABLE [dbo].[OfficeInfo]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [dbo].[CinemaInfo] ([CinemaID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__5535A963] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderInfo] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__5535A963]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__SeatI__5629CD9C] FOREIGN KEY([SeatID])
REFERENCES [dbo].[SeatInfo] ([SeatID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__SeatI__5629CD9C]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK__OrderInfo__Cinem__571DF1D5] FOREIGN KEY([CinemaAddress])
REFERENCES [dbo].[CinemaInfo] ([CinemaAddress])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK__OrderInfo__Cinem__571DF1D5]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK__OrderInfo__Movie__00200768] FOREIGN KEY([MovieName])
REFERENCES [dbo].[MovieInfo] ([MovieName])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK__OrderInfo__Movie__00200768]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK__OrderInfo__Offic__59063A47] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OfficeInfo] ([OfficeID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK__OrderInfo__Offic__59063A47]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK__OrderInfo__Users__7F2BE32F] FOREIGN KEY([UsersID])
REFERENCES [dbo].[UsersInfo] ([UsersID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK__OrderInfo__Users__7F2BE32F]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OrderInfo_ChipInfo] FOREIGN KEY([ChipInfoID])
REFERENCES [dbo].[ChipInfo] ([ChipInfoID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK_OrderInfo_ChipInfo]
GO
ALTER TABLE [dbo].[OrdersGoodsInfo]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [dbo].[CinemaInfo] ([CinemaID])
GO
ALTER TABLE [dbo].[OrdersGoodsInfo]  WITH CHECK ADD  CONSTRAINT [FK__OrdersGoo__Movie__7C4F7684] FOREIGN KEY([MovieName])
REFERENCES [dbo].[MovieInfo] ([MovieName])
GO
ALTER TABLE [dbo].[OrdersGoodsInfo] CHECK CONSTRAINT [FK__OrdersGoo__Movie__7C4F7684]
GO
ALTER TABLE [dbo].[OrdersGoodsInfo]  WITH CHECK ADD FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OfficeInfo] ([OfficeID])
GO
ALTER TABLE [dbo].[SeatInfo]  WITH CHECK ADD  CONSTRAINT [FK__SeatInfo__Office__5DCAEF64] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[OfficeInfo] ([OfficeID])
GO
ALTER TABLE [dbo].[SeatInfo] CHECK CONSTRAINT [FK__SeatInfo__Office__5DCAEF64]
GO
ALTER TABLE [dbo].[SeatInfo]  WITH CHECK ADD  CONSTRAINT [FK_SeatInfo_ChipInfo] FOREIGN KEY([ChipInfoID])
REFERENCES [dbo].[ChipInfo] ([ChipInfoID])
GO
ALTER TABLE [dbo].[SeatInfo] CHECK CONSTRAINT [FK_SeatInfo_ChipInfo]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [FK_UsersInfo_UsersInfo] FOREIGN KEY([UsersID])
REFERENCES [dbo].[UsersInfo] ([UsersID])
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [FK_UsersInfo_UsersInfo]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserA__6477ECF3] CHECK  ((len([UserAccount])>(0)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserA__6477ECF3]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserI__68487DD7] CHECK  ((len([UserIDCard])=(18)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserI__68487DD7]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserL__693CA210] CHECK  (([UserLevelNum]=(0) OR [UserLevelNum]=(1) OR [UserLevelNum]=(2)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserL__693CA210]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserM__6A30C649] CHECK  (([UserMvp]=(0) OR [UserMvp]=(1)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserM__6A30C649]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserP__6754599E] CHECK  ((len([UserPhone])=(11)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserP__6754599E]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__Users__656C112C] CHECK  ((len([UsersPwd])>(0)))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__Users__656C112C]
GO
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [CK__UsersInfo__UserS__66603565] CHECK  (([UserSex]='男' OR [UserSex]='女'))
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [CK__UsersInfo__UserS__66603565]
GO
/****** Object:  StoredProcedure [dbo].[proc_CreateSeat]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE proc [dbo].[proc_CreateSeat] (@OfficeID int,@ChipID int) 
  as
	declare  @konglie1 int
	set @konglie1=(select NullColOne from OfficeInfo where OfficeID=@OfficeID)

	declare  @konglie2 int
	set @konglie2=(select NullColTwo from OfficeInfo where OfficeID=1)
	-- 160个座位所有座位
  declare @j int;
  set @j=1
  while(@j<=160)
  begin
  insert SeatInfo values(@OfficeID,1,@ChipID)
  set @j=@j+1
  end
   --所有不是座位置为0
   --找到座位数量
   declare @OfficeCount int
   set @OfficeCount=(select OfficeCount from OfficeInfo where OfficeID=@OfficeID)

  declare @i int;
  set @i=1;
  while(@i<=160)
  begin 

  if(@i<=@OfficeCount)
  begin 
  update SeatInfo set IsSeat=0 where OfficeID=@OfficeID and (SeatID%160%16=@konglie1 or SeatID%160%16=@konglie2) and @ChipID=ChipInfoID
  end

  else
  begin
  update SeatInfo set IsSeat=0 where OfficeID=@OfficeID and @ChipID=ChipInfoID and (SeatID%160>@OfficeCount or SeatID%160=0)
  end
  set @i+=1
  end
GO
/****** Object:  StoredProcedure [dbo].[proc_SelectCommentCount]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_SelectCommentCount]
(
@pageSize int ,--控制一页显示数量
@page int ,--查看下一页
@MovieID int --哪个电影的评论
)
as 
select Count(*) from [dbo].[CommentInfo] where [MovieID] =  @MovieID --返回查询总数
 
if object_id('tempdb..#temp') is not null
begin
--删除临时表
DROP Table #temp
end

select * into #temp from (select top(@pageSize) * from [dbo].[CommentInfo] where [CommentID] not in (select top(@page) [CommentID] from [dbo].[CommentInfo] where MovieID=@MovieID order by [CommentID] desc)  and  MovieID=@MovieID order by [CommentID] desc ) CommentInfo --返回查询详情
select * from #temp order by [CommentID] desc
GO
/****** Object:  StoredProcedure [dbo].[proc_SelectPageMovieInfo]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_SelectPageMovieInfo]
(
@PageSize int,
@PageNum int
)
as
select Count(*) from MovieInfo
select top(@PageSize) * from MovieInfo where MovieID not in(
		select Top (@PageNum) MovieID from MovieInfo order by MovieID
	) 
GO
/****** Object:  StoredProcedure [dbo].[proc_SelectPageMovieType]    Script Date: 2020/1/23 15:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_SelectPageMovieType]
(
@MovieType nvarchar(50),
@MovieArea nvarchar(50),
@MovieYears nvarchar(50),
@PageSize int,
@PageNum int
)
as
select Count(*) from MovieInfo where 
		(
		(MovieType like '%'+@MovieType+'%') and 
		(MovieArea like '%'+@MovieArea+'%') and
		(MovieYears like '%'+@MovieYears+'%')
		)
if  @PageNum!=0
	begin
		select Top (@PageSize) * from MovieInfo where MovieID not in
		(
			select top (@PageNum) MovieID from MovieInfo
			where 
			(
			  (MovieType like '%'+@MovieType+'%') and
			  (MovieArea like '%'+@MovieArea+'%') and
			  (MovieYears like '%'+@MovieYears+'%')
			)order by MovieID
		) 
		and (MovieType like '%'+@MovieType+'%') 
		and (MovieArea like '%'+@MovieArea+'%')
		and (MovieYears like '%'+@MovieYears+'%')
	end

else
	begin
		select top(@PageSize) * from MovieInfo where MovieID in(
				select MovieID from MovieInfo 
				where 
				(
					(MovieType like '%'+@MovieType+'%') and 
					(MovieArea like '%'+@MovieArea+'%') and
					(MovieYears like '%'+@MovieYears+'%')
				)
		) 
				order by MovieID
	end
GO
USE [master]
GO
